*,
ul {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: lightsteelblue;
}

a {
    text-decoration: none;
    color: #000;

    &:hover {
        text-decoration: underline;
        color: darkmagenta;
    }
}